.logo-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
  text-align: center;
}

.read-the-docs {
  color: #888;
  padding: 2rem 1rem;
  text-align: center;
}

.chart-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}